@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");

.hero {
    height: 600px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url(../public/img/oceano.jpg) center center / cover no-repeat;
  }

.anclas {
    text-decoration: none !important;
  }

.fuente {
    font-family: "Heebo", sans-serif;
    font-weight: bold;
  }

.nombres-estilo{
    font-size: 13px;
}
.titulo {
    border-bottom: 1px solid #dcd4d4;
    padding: 5px;
}

.titulo1 {
  border-bottom: 1px solid #000000;
}

#Boton-integrntes{
  border-radius: 100px;
  margin-bottom: 10px;
}

.subtitulo{
  font-weight: 600px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide div img {
  display: block;
  width: 70%;
  height: auto;
  object-fit: cover;
}

.fondo-mar{
  height: 500px;
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url(../public/img/oceano.jpg) center center / cover no-repeat;
}